* {
  padding: 0;
}


#boxDialog {
  background: rgb(67, 76, 90);
  font-family: sans-serif;
  min-height: max-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 15px;
  border: none;

}

.perfil {
  width: 450px;

}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.foto {
  border-radius: 50%;
  border: 1px solid rgb(26, 26, 48);
  width: 160px;
  height: 160px;
  margin-top: 10px;
}

.usuario {
  text-decoration: none;
  color: rgb(148, 147, 147);
  font-family: sans-serif;

}

.user {
  color: rgb(148, 147, 147);
  font-family: sans-serif;
  font-size: small;

}

.biogr {
  color: rgb(148, 147, 147);
  font-family: sans-serif;
  font-size: small;
}

.seguir {
  display: flex;
  color: rgb(148, 147, 147);
  font-family: sans-serif;
  font-size: small;
}

.local {
  color: rgb(148, 147, 147);
  font-family: sans-serif;
  font-size: small;
}

.titulo {
  color: rgb(148, 147, 147);
  font-family: sans-serif;
  text-align: center;
  border-bottom: 0.5px solid rgb(61, 61, 61);
  padding-bottom: 10px;
}

.boxRepos {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 0;
  flex-wrap: wrap;

}

.repos {
  display: flex;
  flex-direction: column;
  border: 0.1px solid rgb(61, 61, 61);
  border-radius: 5px;
  color: rgb(148, 147, 147);
  font-family: sans-serif;
  width: 270px;
  height: 140px;
  text-align: left;
  justify-items: center;
  margin: 10px;
  padding: 5px;
  font-family: sans-serif;
  font-size: small;

}

.repos:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 10px rgb(52, 57, 68);

}

.nomeRepos {
  font-size: 1rem;
  margin: 5px;
  color: rgb(66, 123, 177);
}

.texto {
  margin: 2px;
  padding: 2px;
  height: 100px;
  font-size: 0.8rem;
  overflow: hidden;
  text-overflow: clip ellipsis;
  direction: ltr;
  font-family: sans-serif;
  color: rgb(148, 147, 147);
}

mat-icon {
  font-size: 1rem;

}

.icons {
  height: 15px;
  margin: 3px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
  justify-items: center;
  padding-top: 5px;
  bottom: 0;
  font-size: 0.8rem;
}